@import url("https://fonts.cdnfonts.com/css/bubbly-2");

.timeLineContainer {
  position: fixed;
  width: 190%;
  margin-top: 5%;
}

.me {
  margin-bottom: 4%;
  margin-left: 30%;
  inline-size: 30%;
  
  
}

.me >h1 {
  border-bottom: solid 2px;
}

#my_story {
  margin-top: 5%;
  
}

.separator {
    cursor: pointer;
}

.connector {
  height: 150px;
}

.me > p {
    ; 
}

@media (max-width: 1200px) {
  .timeLineContainer{
    visibility: hidden;
  }
}
@media (max-width: 500px) {
  .timeLineContainer{
    visibility: hidden;
    
  }
  .me{
    opacity: 1 !important;
    inline-size: 70%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 12%
    
    
  }

  .return-btn{
    font-size: small;
  }

  .hide{
    font-size: small;
  }

  
}

/* .skill-box{
  height: 40vh;
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
 
  
} */

/* .logo{
  position: inherit;
  width: 5vw ;
  height: 7vh ;
  
} */

